/* Add CSS Styling */
.Yes{
    background-color:hsl(0, 100%, 0%) ;
    color:hsl(0,0%,100%)
}

.No{
    background-color: #ffff00;
}

.Yes,.No{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman",sans-serif
}